.grvsc-container {
  padding-top: var(--grvsc-padding-top, var(--grvsc-padding-v, 1rem));
  padding-bottom: var(--grvsc-padding-bottom, var(--grvsc-padding-v, 1rem));
  border-radius: var(--grvsc-border-radius, 8px);
}

.grvsc-line {
  padding-left: var(--grvsc-padding-left, var(--grvsc-padding-h, 1.5rem));
  padding-right: var(--grvsc-padding-right, var(--grvsc-padding-h, 1.5rem));
}

/* See “Line Highlighting” section for details */
.grvsc-line-highlighted {
  background-color: var(--grvsc-line-highlighted-background-color, transparent);
  box-shadow: inset var(--grvsc-line-highlighted-border-width, 4px) 0 0 0 var(--grvsc-line-highlighted-border-color, transparent);
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  box-shadow: none !important;
}

a:hover {
  color: #888;
}

:not(pre)>code {
  position: relative;
  padding: .2em;
  border-radius: .3em;
  color: #c92c2c;
  border: 1px solid rgba(0,0,0,.1);
  white-space: normal;
  background-color: #fdfdfd;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  max-height: inherit;
}

.hide-scroll-bars {
  overflow: hidden;
}
