.socials {
  display: flex;
}

.socials [class^="fa-"] {
  margin-right: 10px;
  cursor: pointer;
}

.socials [class^="fa-"]:hover {
  opacity: 0.7;
}

.socials .fa-twitter {
  color: #1da1f2;
}

.socials .fa-facebook {
  color: #1877f2;
}

.socials .fa-instagram {
  color: #c32aa3;
}

.socials .fa-youtube {
  color: #ff0000;
}

.socials .fa-github {
  color: #333;
}

.socials .fa-linkedin {
  color: #0a66c2;
}
